.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}

.a-footer{
  text-decoration: none;
}

.a-footer, .address-footer{
  color: var(--text-primary, black);
  font-family: var(--font-primary, Poppins);
  font-size: var(--size-foot, 12px);
}

.a-footer:hover{
  color: var(--primary-color, #52C01E);
  cursor: pointer;
}


@media (max-width: 912px){ /*Tablet */
  .a-footer, .address-footer{
    font-size: 20px; 
  }
}

@media (max-width: 540px){ /*Mobile */
  .a-footer, .address-footer{
    font-size: 15px; 
  }
}

@media (max-width: 280px){ /*Mobile */
  .a-footer, .address-footer{
    font-size: 10px; 
  }
}