.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-footer{
  text-decoration: none;
}

.a-footer, .p-footer{
  color: var(--text-primary, black);
  font-family: var(--font-primary, Poppins);
  font-size: var(--size-foot, 12px);
}

.a-footer:hover{
  color: var(--primary-color, #52C01E);
}