.header {
  background-color: var(--header-color, #0E566A);
  font-family: var(--font-titles, Montserrat);
  display: flex;
  align-items: center;
  width: 100%;
  height: 77px;
}

.div-logo {
  background-color: var(--header-color, #0E566A);
  display: flex;
  width: 100%;
}

.link-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--text-secundary, #fff);
}

.logo-header {
  height: 60px;
  width: 80px;
}

.titulo-header {
  color: var(--text-secundary, #fff);
  font-size: 1em;
  margin-right: 2em;
}